{{ partial "header.html" . }}

{{if .Site.Params.cover}}
{{if or (eq (substr .Site.Params.cover 0 7) "http://") (eq (substr .Site.Params.cover 0 8) "https://")}}
  <header class="main-header" style="background-image: url({{.Site.Params.cover}})">
  {{ else }}
  <header class="main-header" style="background-image: url({{.Site.BaseURL}}{{.Site.Params.cover}})">
  {{ end }}
{{else}}
<header class="main-header no-cover">
{{end}}

    <nav class="main-nav overlay clearfix">
        {{ if .Site.Params.logo }}
            <a class="blog-logo" href="{{ .Permalink }}"><img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" alt="Blog Logo" /></a>
        {{end}}
        {{ if .Site.Menus.main }}
            <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
        {{else}}
        {{end}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            {{ if .Site.Params.linkedinName }}
                <a class="bloglogo" href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" target="_blank">
                    <span class="icon-linkedin" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.githubName }}
                <a class="bloglogo" href="https://github.com/{{ .Site.Params.githubName }}" target="_blank">
                <span class="icon-github" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.twitterName }}
                <a class="bloglogo" href="https://twitter.com/{{ .Site.Params.twitterName }}" target="_blank">
                    <span class="icon-twitter" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.facebookName }}
                <a class="bloglogo" href="https://www.facebook.com/{{ .Site.Params.facebookName }}" target="_blank">
                    <span class="icon-facebook" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.instagramName }}
                <a class="bloglogo" href="https://instagram.com/{{ .Site.Params.instagramName }}" target="_blank">
                    <span class="icon-instagram" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.pinterestName }}
                <a class="bloglogo" href="https://www.pinterest.com/{{ .Site.Params.pinterestName }}" target="_blank">
                    <span class="icon-pinterest" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}
            {{ if .Site.Params.googlePlusName }}
                <a class="bloglogo" href="https://google.com/+{{ .Site.Params.googlePlusName }}" target="_blank">
                    <span class="icon-google-plus" style="color:white;font-size:2em"></span>
                </a>
            &nbsp;
            {{end}}

            <h1 class="page-title"><u>{{ .Site.Title }}</u></h1>
            <h2 class="page-description">{{ .Site.Params.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content"><span class="hidden">Scroll Down</span></a>
</header>
    <!-- About Us -->
    <div id="content" class="wrapper">
        <div id="about" class="section" >
            <div style="width: 100%; padding-left: 25%; padding-right: 25%;">
                <u><h4 style="text-align: center;">About Us</h4></u>
                <br>
                <div style="padding : 5px 10px 5px 10px;">
                    <p><strong>K.M. Pharma Solution</strong> is a high-tech company in the chemical and pharmaceutical field. Our company specializes in supplying Research Chemicals to global market, we have always dedicated our efforts to promoting new molecules.</p>
                    <p><strong>K.M. Pharma Solution</strong> has the state-of-the-art facilities and domain expertise, our team includes super excellence professionals with B.sc., M.sc. and Ph.D. degree, as well as excellent laboratory and pilot technicians. K.M. Pharma Solution has a wide variety of synthesis and research experience to provide technically challenging, cost effective and environmentally safe products for Research and Development within the chemical, fine chemical and pharmaceutical industries. Our products and services include:</p>
                    <ul>
                      <li>APIs &amp; Intermediates</li>
                      <li>Fine &amp; Specialty Chemicals</li>
                      <li>Chemical Building Blocks</li>
                      <li>Novel Organic Compounds</li>
                      <li>Custom Synthesis</li>
                    </ul>
                    <p>What's more, having a good relationship with some famous Indian universities, research institutions, laboratories and companies, <strong>K.M. Pharma Solution</strong> also offers products from Indian suppliers to global researchers.</p>
                    <p>We keep stock most of our Catalogue products from milligrams up to multi kilogram quantities, offering you immediate access to them with competitive pricing.</p>
                    <h6>Our Mission</h6>
                    <em class="mission">To be an outstanding supplier of research chemicals to the global market, providing high-quality products and services.</em>
                </div>
            </div>
        </div>
    </div>

    <!-- ======== -->



    <!-- implementing searching -->

    <html>
        <head>
            <title>Hugo + Lunrjs = &lt;3 search </title>
        </head>
        <br>
        <br>
        <body>
            <!-- <div style="position: absolute; top: 10px; right: 0px"> -->

                <!-- <input type="text"> -->

           <!--  Search Product:
                <input id="search" type="text" >
            <br>
            <br>
            </div>

            <div>
                <a href="/">Home</a>
            </div>
                <a href="/products">Products</a>
            <div>
 -->
            <!-- </div> -->


            <ul id="results" style="position: absolute; top: 40px; right: 0px">
            </ul>
            <script type="text/javascript" src="js/vendor/jquery-2.1.3.min.js"></script>
            <script type="text/javascript" src="js/vendor/lunr.min.js"></script>
            <script type="text/javascript">
            var lunrIndex,
                $results,
                pagesIndex;

            // Initialize lunrjs using our generated index file
            function initLunr() {
                // First retrieve the index file
                $.getJSON("js/lunr/PagesIndex.json")
                    .done(function(index) {
                        pagesIndex = index;
                        console.log("index:", pagesIndex);

                        // Set up lunrjs by declaring the fields we use
                        // Also provide their boost level for the ranking
                        lunrIndex = lunr(function() {
                            this.field("title", {
                                boost: 10
                            });
                            this.field("tags", {
                                boost: 5
                            });
                            this.field("content");

                            // ref is the result item identifier (I chose the page URL)
                            this.ref("href");
                        });

                        // Feed lunr with each file and let lunr actually index them
                        pagesIndex.forEach(function(page) {
                            lunrIndex.add(page);
                        });
                    })
                    .fail(function(jqxhr, textStatus, error) {
                        var err = textStatus + ", " + error;
                        console.error("Error getting Hugo index flie:", err);
                    });
            }

            // Nothing crazy here, just hook up a listener on the input field
            function initUI() {
                $results = $("#results");
                $("#search").keyup(function() {
                    $results.empty();

                    // Only trigger a search when 2 chars. at least have been provided
                    var query = $(this).val();
                    if (query.length < 2) {
                        return;
                    }

                    var results = search(query);

                    renderResults(results);
                });
            }

            /**
             * Trigger a search in lunr and transform the result
             *
             * @param  {String} query
             * @return {Array}  results
             */
            function search(query) {
                // Find the item in our index corresponding to the lunr one to have more info
                // Lunr result:
                //  {ref: "/section/page1", score: 0.2725657778206127}
                // Our result:
                //  {title:"Page1", href:"/section/page1", ...}
                return lunrIndex.search(query).map(function(result) {
                        return pagesIndex.filter(function(page) {
                            return page.href === result.ref;
                        })[0];
                    });
            }

            /**
             * Display the 10 first results
             *
             * @param  {Array} results to display
             */
            function renderResults(results) {
                if (!results.length) {
                    return;
                }

                // Only show the ten first results
                results.slice(0, 10).forEach(function(result) {
                    var $result = $("<li>");
                    $result.append($("<a>", {
                        href: result.href,
                        text: "» " + result.title
                    }));
                    $results.append($result);
                });
            }

            // Let's get started
            initLunr();

            $(document).ready(function() {
                initUI();
            });
            </script>
        </body>

    </html>



    <!-- searching over -->



<main id="content" class="content" role="main">

    {{ range .Data.Pages }}
        {{if eq .Type "index" }}
        <div class="index-content post">
        {{.Content}}
        </div>
        {{end}}
    {{ end }}

    {{ if not ($.Scratch.Get "paginatedSections") }}
        {{ if isset .Site.Params "paginatedSections" }}
            {{ $.Scratch.Set "paginatedSections" .Site.Params.paginatedSections }}
        {{ else }}
            {{ $.Scratch.Set "paginatedSections" "post" }}
        {{ end }}
    {{ end }}

    {{ $list := where .Data.Pages "Section" "in" ($.Scratch.Get "paginatedSections") }}
    {{ $list := where $list "Section" "!=" "" }}
    {{ $paginator := .Paginate ( $list ) }}

    <div class="extra-pagination inner">
        {{ partial "pagination.html" $paginator }}
    </div>

   <!--  {{ range $index, $page := $paginator.Pages }}
        {{ partial "li.html" . }}
    {{ end }}

    {{ partial "pagination.html" $paginator }}
 -->
</main>

{{ partial "footer.html" . }}
