{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<main class="content" role="main">

  <article class="post {{ .Section }}">

    <header class="post-header">
        <h1 class="post-title">{{.Title}}</h1>
        <small>{{.Description}}</small>

        <section class="post-meta">
        {{ if eq .Section "post"}}

        {{end}}
         {{ range .Params.tags }}
          <span class="post-tag small"><a href="{{ $baseurl }}tags/{{ . | urlize }}/">#{{ . }}</a></span>
         {{ end }}
        </section>
    </header>

    <section class="post-content">
      {{$a := .Slug }}

      <!-- first table -->
      <table class="table-striped" class="tableStyle">
        {{ $url := (print "data/" $a "/" $a "_details.csv") }}
        {{ $sep := "," }}
        {{ range $i, $r := getCSV $sep $url }}

        <tr>
          {{ if eq $i 0 }}
            {{ range  $r }}
             <b> <th class="tableBackcolor">{{ . }}</th> </b>
            {{end}}

            {{else}}
              {{ range $index, $data := $r }}
                {{if eq $index 0}}
                  <td>{{$data}}</td>
                {{else}}
                  <td><a href="/contact" class="link">Enquire</a></td>
                {{end}}
                {{end}}

            {{end}}

          {{ end }}
        </tr>
      </table>

      <!-- ============= -->

      <!-- content of .md file  -->
        {{ .Content }}
      <!-- ==================   -->

    <h3>Product Details</h3>

    <!--second table -->

        {{ $url := (print "data/" $a "/" $a ".csv") }}
        {{ $sep := "," }}

      <!--   <table border="1px">
          <tr>
            {{ range $i, $r := getCSV $sep $url }}
            {{ if eq $i 0 }}
              <td style="width: 50%">
                <table>
                  {{ range $r }}
                    <tr><td >{{ . }}</td></tr>
                  {{end}}
                </table>
              </td>
            {{ else }}
              <td  style="width: 50%">
                <table  style="width: 100%">
                {{ range $r }}
                  <tr>
                    <td  style="width: 100%">{{ . }}</td>
                  </tr>
                {{ end }}
                </table>
              </td>
            {{ end }}
            {{ end }}
          </tr>
        </table> -->
  {{ range $i, $r := getCSV $sep $url }}
  <div id="container" >
    {{ if eq $i 0 }}
    <div class="productInfo">Structure</div> <div class="lineSpacing"><img src="/images/productImages/{{$a}}.png"></div>
    <div class="productInfo">
      {{ range $r}}
      <div class="lineSpacing">{{.}} </div>
      {{end}}
    {{else}}
      <div>
      {{ range $r}}
       <div class="lineSpacing"> {{.}}</div>
       {{end}}
    {{end}}
    </div>
    {{ end }}
  </div>


    <!-- =========== -->




</main>
<!-- {{ partial "footer.html" . }} -->
